{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <div class="p-4 mb-5 bg-light border rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-3">Track your learning.</h1>
      
      <p class="lead">Make your own Learning Log, and keep a list of the
      topics you're learning about. Whenever you learn something new
      about a topic, make an entry summarizing what you've learned.</p>

        <p class="lead">The open source resources of this website are published 
            on CSDN. <a href="https://gs.djtu.edu.cn/" 
            target="_blank">Get it!</a></p>
    

      <a class="btn btn-primary btn-lg mt-1"
          href="{% url 'accounts:register' %}">Register &raquo;</a>
    </div>
  </div>
{% endblock page_header %}